$yellow: #ffd932;

$bg: 'bg';
$fg: 'fg';
$accent: 'accent';
$card-bg: 'card-bg';
$feather-icon: 'feather-icon';
$card-alternative: 'card-alternative';
$card-shadow: 'card-shadow';

$themes: (
    light: (
        bg: #ECF0F3,
        fg: #000,
        accent: #0075FF,
        card-bg: #EFF3F6,
        feather-icon: invert(0),
        card-alternative: #F3F4F6,
        card-shadow: (18px 18px 30px #D1D9E6, -18px -18px 30px #ffffff),
    ),
    dark: (
        bg: #15161A,
        fg: #fff,
        accent: #00C3FF,
        card-bg: #17181C,
        feather-icon: invert(1),
        card-alternative: #2C2F31,
        card-shadow: (18px 18px 20px #0e0e11, -18px -18px 20px #1a1c22),
    )
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), '#{$key}');
          $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}
  
@function t($key) {
  @return map-get($theme-map, $key);
}